<div class="col s12">
  <div class="help-dialog card grey lighten-5">
    <div class="card-content black-text">
      <span class="card-title black-text">Alles ganz einfach</span>
      <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
    </div>
  </div>
</div>
<div class="col s12">
  <form action="#">
    <table class="bordered responsive-table kfz-table z-depth-1 centered">
      <thead>
        <tr>
          <th data-field="id">Auswahl</th>
          <th data-field="id">Fahrzeug</th>
          <th data-field="name">Kennzeichen</th>
        </tr>
      </thead>
      <tbody>
        <% @cars.each do |car| %>
          <tr>
            <td>
              <%= check_box_tag car.id %>
              <%= label_tag car.id, "" %>
            </td>
            <td><%= car.name %></td>
            <td><%= car.mark %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </form>
</div>
