<div class="col s12">
  <div class="help-dialog card grey lighten-5">
    <div class="card-content black-text">
      <span class="card-title black-text">Alles ganz einfach</span>
      <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
    </div>
  </div>
</div>
<div class="col s12">
  <form action="#">
    <table class="bordered responsive-table kfz-table z-depth-1 centered">
      <thead>
        <tr>
          <th data-field="id">Auswahl</th>
          <th data-field="id">Fahrzeug</th>
          <th data-field="name">Kennzeichen</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="checkbox" id="test5" />
            <label for="test5"></label>
          </td>
          <td>Unimog</td>
          <td>UE-PF-67</td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="test7" />
            <label for="test7"></label>
          </td>
          <td>LKW</td>
          <td>UE-JF-60</td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="test6" />
            <label for="test6"></label>
          </td>
          <td>Bla Bla Car</td>
          <td>UE-JF-60</td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
